@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img-item {
  height: 550px;
  width: 1302px;
}
.icon-redes {
  position: fixed;
  bottom: 80px;
<<<<<<< HEAD
  right: 50px; 
  text-decoration: none;
=======
  right: 50px;
}

/*.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
  box-shadow: none;
  outline: none;
  
>>>>>>> 2566aa8b46afc0609c8c2c4cfb75da0a19823dca
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  font-size: 1.5rem;
}*/
